/*Font Family*/
@font-face {
    font-family: FontAwesome;
    src: url(../fonts/font-awesome.otf);
}

@font-face {
    font-family: Museo;
    src: url(../fonts/museo-100.otf);
    font-weight: 100;
}

@font-face {
    font-family: Museo;
    src: url(../fonts/museo-300.otf);
    font-weight: 300;
}

@font-face {
    font-family: Museo;
    src: url(../fonts/museo-500.otf);
    font-weight: 500;
}

@font-face {
    font-family: Museo;
    src: url(../fonts/museo-700.otf);
    font-weight: 700;
}

@font-face {
    font-family: Museo;
    src: url(../fonts/museo-900.otf);
    font-weight: 900;
}

/* Pseudo elements */
:root {
    --primary-color: #f63000;
}

::selection {
    background: #fff;
    color: #000;
}

/* Scrollbar */
::-webkit-scrollbar {
    width: 8px;
    height: 4px;
    cursor: pointer;
    z-index: 9999;
}

/* Track */
::-webkit-scrollbar-track {
    background: var(--primary-color);
    z-index: 9999;
    cursor: pointer;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #fff;
    z-index: 9999;
    cursor: pointer;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #000;
    z-index: 9999;
    cursor: pointer;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

* {
    cursor: none;
    margin: 0;
    outline: none;
    text-decoration: none;
    color: #fff;
    box-sizing: border-box;
    clear: both;
    animation-duration: 2s;
    font-weight: 300;
}

html {
    scroll-behavior: smooth;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    scroll-behavior: smooth;
}

body {
    font-family: "Museo", sans-serif;
    font-weight: 500;
    outline: none;
    color: #fff;
    background: var(--primary-color);
    overflow: hidden;
}

ul {
    margin: 0;
    list-style: none;
    padding: 0;
}

.loader {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
}

.loader-img {
    width: 150px;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    -webkit-animation: rotate 5s linear 0s infinite normal;
    -moz-animation: rotate 5s linear 0s infinite normal;
    -ms-animation: rotate 5s linear 0s infinite normal;
    -o-animation: rotate 5s linear 0s infinite normal;
    animation: rotate 5s linear 0s infinite normal;
}

.cursor,
.logo-cursor {
    position: absolute;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    transform: translateX(-50%) translateY(-50%);
    z-index: 1;
}

.cursor:nth-child(3) {
    background-color: #000;
}

.cursor:nth-child(2) {
    background-color: #fff;
}

.logo-cursor:nth-child(1),
.logo-cursor:nth-child(2) {
    background-color: rgb(0, 0, 0);
    height: 10px;
    box-shadow: rgba(0, 0, 0, 0.5) 10px 10px 20px 5px;
    width: 10px;
}

.logo-cursor:nth-child(1) {
    background-color: #000;
}

.logo-cursor:nth-child(2) {
    background-color: #fff;
}

.container {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
    height: 100vh;
}

.page-inner {
    margin: auto;
    display: flex;
}

.block-main {
    display: block;
}

.row {
    width: auto;
    display: flex;
    margin-right: -15px;
    margin-left: -15px;
    flex-wrap: wrap;
}

.col-3 {
    max-width: 25%;
    width: 100%;
    margin: 0;
    padding: 0 15px;
}

.col-4 {
    max-width: 33.33%;
    width: 100%;
    margin: 0;
    padding: 0 15px;
}

.col-6 {
    max-width: 50%;
    width: 100%;
    margin: 0;
    padding: 0 15px;
}

.col-12 {
    max-width: 100%;
    width: 100%;
    margin: 0;
    padding: 0 15px;
}

.text-right {
    text-align: right;
}

.text-left {
    text-align: left;
}

.text-center {
    text-align: center;
}

.page-inner {
    margin: auto;
    display: flex;
}

.block-main {
    display: block;
}

a *,
a,
a:hover,
.resume-button,
.resume-button *,
.service-title span,
.modal,
.modal *,
#okewa *,
.loader,
.loader * {
    cursor: pointer;
}

.container.home {
    display: inline-flex;
    width: 100vw;
    height: 100vh;
    padding: 0;
    overflow: hidden;
}

.home-banner::before {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    content: '';
    height: 100%;
    width: 100%;
    background: var(--primary-color);
    opacity: 0.5;
    z-index: 0;
}

.home-logo {
    max-width: 27.5vw;
    width: 100%;
    text-align: center;
    margin: auto;
    height: 100%;
    position: relative;
    display: flex;
    overflow: hidden;
}

.home-logo::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: 50px;
    margin: auto;
    height: 10px;
    width: 300px;
    border-radius: 50px;
    background-image: radial-gradient(rgba(0, 0, 0, 0.25) 40%, rgba(0, 0, 0, 0) 60%);
    -webkit-animation: rotate 10s linear 0s infinite normal;
    -moz-animation: rotate 10s linear 0s infinite normal;
    -ms-animation: rotate 10s linear 0s infinite normal;
    -o-animation: rotate 10s linear 0s infinite normal;
    animation: rotate 10s linear 0s infinite normal;
}

.home-logo img {
    height: 80vh;
    margin: auto;
    -webkit-animation: rotate 10s linear 0s infinite normal;
    -moz-animation: rotate 10s linear 0s infinite normal;
    -ms-animation: rotate 10s linear 0s infinite normal;
    -o-animation: rotate 10s linear 0s infinite normal;
    animation: rotate 10s linear 0s infinite normal;
    z-index: 999;
}

.home-banner {
    max-width: 77.5vw;
    width: 100%;
    background: url("../../assets/images/banner-avatar.svg") no-repeat 80% bottom;
    box-shadow: 0 0 50px 10px rgba(0, 0, 0, 0.75);
    position: relative;
    background-size: contain;
    background-blend-mode: multiply;
    display: table;
    height: 100%;
}

.element::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3); /* Adjust the opacity here */
    z-index: 1;
  }

.home-banner-container {
    position: relative;
    z-index: 1;
    display: table-cell;
    vertical-align: middle;
    padding: 0 60px;
    margin: auto;
    overflow: hidden;
}

.banner-content h1 {
    font-size: 72px;
    text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
    font-weight: 900;
    margin-bottom: 20px;
}

.banner-content h2 {
    font-weight: 700;
    margin-bottom: 10px;
}

.banner-content ul {
    list-style: none;
    padding: 0;
    font-size: 16px;
    display: flex;
    flex-wrap: wrap;
    gap: 6px;
}

.banner-content ul li {
    font-weight: 500;
    background: #fff;
    color: #000;
    padding: 6px 10px;
    border-radius: 6px;
    text-transform: capitalize;
}

.resume-button {
    background: #fff;
    height: 70px;
    width: 70px;
    display: block;
    text-align: center;
    border-radius: 40px;
    line-height: 100px;
    transition: 0.5s;
    margin: 40px 0;
    position: relative;
    z-index: 1;
}

.resume-button::after {
    content: 'CV';
    background: #fff;
    position: absolute;
    left: 0;
    top: 0;
    height: 30px;
    width: 50px;
    font-size: 14px;
    line-height: 30px;
    border-radius: 5px;
    margin: auto;
    bottom: 0;
    transition: 0.5s;
    opacity: 0;
    z-index: 0;
    color: #000;
}

.resume-button:hover::after {
    left: 105%;
    opacity: 1;
    transition: 0.5s;
}

.resume-button-img {
    width: 40px;
}

.resume-button:hover {
    background: #000;
}

.resume-button:hover .resume-button-img {
    filter: invert(1);
}

header.menu-bar {
    position: absolute;
    right: 0;
    top: 0;
}

.menu-bar ul {
    position: relative;
    display: inline-flex;
    transition: 0.5s;
    background: #fff;
    border-radius: 0 0 0 20px;
}

.menu-bar ul:hover {
    box-shadow: 5px 5px 5px 0 rgba(0, 0, 0, 0.5);
    transition: 0.5s;
}

.menu-bar a {
    color: #000;
    opacity: 0.5;
    font-size: 16px;
    text-transform: uppercase;
    transition: 0.25s;
    display: block;
    font-weight: 500;
    padding: 20px 40px;
}

.menu-bar a:hover {
    opacity: 1;
    transition: 0.25s;
}

.footer {
    font-weight: 300;
    font-size: 16px;
}

.lets-connect {
    display: inline-flex;
    z-index: 9;
    line-height: 40px;
}

.lets-connect li {
    margin: 0 10px 0 0;
    z-index: 9;
}

.lets-connect a {
    font-family: FontAwesome, sans-serif;
    margin-left: 10px;
    transition: 0.5s;
}

.lets-connect a:hover {
    color: #000;
    transition: 0.5s;
}

span.arrow {
    position: relative;
    display: block;
    width: 50px;
    height: 2px;
    background: #fff;
    margin: 20px 0;
}

span.arrow.transform::after {
    content: '';
    height: 2px;
    width: 20px;
    background: #000;
    position: absolute;
    right: -5px;
    transform: rotate(-45deg);
    top: 7px;
    border-radius: 5px;
    transition: 0.5s;
}

span.arrow.transform::before {
    content: '';
    height: 2px;
    width: 20px;
    background: #000;
    position: absolute;
    right: -5px;
    transform: rotate(45deg);
    bottom: 7px;
    border-radius: 5px;
    transition: 0.5s;
}

span.arrow::after {
    content: '';
    height: 2px;
    width: 20px;
    background: #000;
    position: absolute;
    right: -5px;
    transform: rotate(0);
    top: 0;
    border-radius: 5px;
    transition: 0.5s;
    cursor: pointer;
}

span.arrow::before {
    content: '';
    height: 2px;
    width: 20px;
    background: #000;
    position: absolute;
    right: -5px;
    transform: rotate(0);
    bottom: 0;
    border-radius: 5px;
    transition: 0.5s;
    cursor: pointer;
}

.work-with-me {
    width: 200px;
    box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.5);
    border-radius: 35px;
    transition: 0.5s;
    display: block;
    height: 40px;
    line-height: 40px;
    text-align: center;
    float: right;
}

.work-with-me:hover {
    box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.75);
    transition: 0.5s;
}

.back-to-home {
    margin: auto 0;
    transform: rotate(180deg);
    z-index: 9;
}

.page-title {
    margin: 0 0 0 auto;
    text-shadow: 6px 6px 10px rgba(0, 0, 0, 0.1);
    font-size: 92px;
    font-weight: 900;
    text-transform: uppercase;
    z-index: 9;
}

.page-title-tag {
    position: relative;
    font-weight: 900;
}

.page-title-tag:before,
.page-title-tag:after {
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 0;
}

.page-title-tag h1:before {
    z-index: -1;
    text-shadow: -0.001em -0.001em 1px rgba(255, 255, 255, .15)
}

.page-title-tag h1:after {
    z-index: -2;
    text-shadow: 10px 10px 10px rgba(0, 0, 0, .5), 20px 20px 20px rgba(0, 0, 0, .4), 30px 30px 30px rgba(0, 0, 0, .1);
    mix-blend-mode: multiply;
}

.services {
    background: url("../../assets/images/map.svg") no-repeat center center;
    position: relative;
    background-size: 75%;
}

.services::before {
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.15);
    top: 0;
    bottom: 0;
    margin: auto;
    opacity: 0.75;
    z-index: 0;
}

.service-inner {
    z-index: 1;
    position: relative;
}

.service-title span {
    color: #000;
    text-transform: capitalize;
    font-weight: 900;
    display: table-cell;
    text-align: center;
    background: #fff;
    border: 3px solid #000;
    border-radius: 50%;
    vertical-align: middle;
    transition: 0.5s;
    position: relative;
}

.service-title span:hover {
    transition: 0.5s;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.5);
}

.service-title span:before,
.service-title span:after {
    content: "";
    margin: 0 auto;
    position: absolute;
    top: 50%;
    left: 50%;
    opacity: 0;
    transform: translate(-50%, -50%) scale(0);
    border: 3px solid #000;
    display: none;
    width: 300px;
    height: 300px;
    border-radius: 100%;
}

.service-title span:hover:before {
    display: block;
    animation: spread-fade 1s ease-in infinite;
}

.service-title span:hover:after {
    display: block;
    animation: spread-fade 1s 0.2s ease-in infinite;
}

.graphics-work span {
    height: 175px;
    width: 175px;
    font-size: 24px;
}

.color-schemes span {
    font-size: 14px;
    height: 100px;
    width: 100px;
}

.creative-brand span {
    height: 230px;
    width: 230px;
    font-size: 36px;
}

.front-end-developing span {
    height: 200px;
    width: 200px;
    font-size: 24px;
}

.ui-ux span {
    height: 250px;
    width: 250px;
    font-size: 42px;
}

.video-editing span {
    height: 150px;
    width: 150px;
    font-size: 24px;
}

.marketing-materials span {
    height: 175px;
    width: 175px;
    font-size: 24px;
}

#services-modal-zoom,
#portfolio-modal-zoom {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: all 0.8s cubic-bezier(0.6, -0.28, 0.735, 0.045);
}

#services-modal-zoom.show,
#portfolio-modal-zoom.show {
    transform: translate(-50%, -50%) scale(1);
    transition: all 0.8s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.modal-background {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0;
    pointer-events: none;
    z-index: 9;
    background: rgba(0, 0, 0, 0.5);
}

.modal-background.show {
    display: block;
    opacity: 1;
    pointer-events: auto;
    animation: fadein 0.8s;
}

.modal-background.hide {
    animation: fadeout 0.8s;
}

.modal.service-modal {
    position: absolute;
    padding: 35px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 1);
    background: #fff;
    color: #000;
    height: 500px;
    width: 500px;
    border-radius: 50%;
    text-align: center;
    transform-style: preserve-3d;
    z-index: 9;
    border: 3px solid #000;
    display: table;
}

.modal-inner {
    padding: 50px;
    display: table-cell;
    vertical-align: middle;
}

.modal-title {
    font-size: 42px;
    color: #000;
    text-transform: capitalize;
    font-weight: 900;
}

.modal-content {
    color: #000;
    font-size: 16px;
    margin-top: 20px;
}

.brochure-design-image {
    width: 150px;
}

.brochure-design {
    position: relative;
    transition: 0.5s;
}

.brochure-design::after {
    content: '';
    position: absolute;
    background: radial-gradient(rgba(0, 0, 0, 0.5) 50%, transparent 75%);
    height: 0;
    width: 100%;
    top: -10px;
    margin: auto;
    z-index: -1;
    left: 0;
    transition: 0.5s;
}

.brochure-design:hover::after {
    height: 50px;
    transition: 0.5s;
}

.brochure-design:hover .brochure-design-title {
    text-shadow: 5px 5px 3px rgba(0, 0, 0, 0.75);
    transition: 0.5s;
}

.brochure-design-image.front-side {
    transform: skewY(0);
    margin-left: -4px;
    transition: 0.5s;
}

.brochure-design-image.back-side {
    transform: skewY(0);
    transition: 0.5s;
}

.brochure-design:hover .brochure-design-image.back-side {
    transform: skewY(-10deg);
    transition: 0.5s;
}

.brochure-design:hover .brochure-design-image.front-side {
    transform: skewY(10deg);
    transition: 0.5s;
}

.portfolio-category {
    position: relative;
    z-index: 9;
}

.portfolio-category span {
    position: absolute;
    left: 0;
    right: 0;
    bottom: -40px;
    margin: auto;
    font-size: 24px;
    width: 100%;
    text-align: center;
    text-transform: capitalize;
}

.stationery-design {
    width: 250px;
    float: right;
}

.portfolio-category.stationery-design span {
    top: 15px;
    color: #000;
    text-align: right;
    margin-right: 20px;
}

.portfolio-category.stationery-design span:hover~.stationery-design-image {
    box-shadow: 50px 50px 10px 0 rgba(0, 0, 0, 0.25);
    transition: 0.75s;
}

.stationery-design-image {
    box-shadow: 10px 10px 5px 0 rgba(0, 0, 0, 0.5);
    transition: 0.75s;
}

.graphics-design {
    width: 325px;
    float: left;
    top: -150px;
}

.portfolio-category.graphics-design span {
    top: 0;
    bottom: 0;
    height: 10px;
    text-align: left;
    left: 70px;
    font-size: 36px;
}

.brand-design {
    width: 200px;
    height: auto;
    display: inline-block;
}

.brand-design-image.paper {
    width: 200px;
}

.brand-design-image.logo {
    width: 50px;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    filter: invert(1);
    -webkit-animation: rotate 5s linear 0s infinite normal;
    -moz-animation: rotate 5s linear 0s infinite normal;
    -ms-animation: rotate 5s linear 0s infinite normal;
    -o-animation: rotate 5s linear 0s infinite normal;
    animation: rotate 5s linear 0s infinite normal;
    -webkit-animation-play-state: paused;
    -moz-animation-play-state: paused;
    -ms-animation-play-state: paused;
    -o-animation-play-state: paused;
    animation-play-state: paused;
}

.brand-design span {
    top: 30px;
    color: #000;
    font-size: 18px;
}

.brand-design span:hover~.brand-design-image.logo,
.brand-design-image.logo:hover {
    -webkit-animation-play-state: running;
    -moz-animation-play-state: running;
    -ms-animation-play-state: running;
    -o-animation-play-state: running;
    animation-play-state: running;
    transition: 1s;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
}

.video-design {
    float: right;
    width: 200px;
    margin: 0;
}

.video-design span {
    line-height: 80px;
    top: 0;
    height: 100%;
    z-index: 99;
}

.video-editing-image {
    transform: rotate(60deg);
    -webkit-animation: spin 6s linear 0s infinite normal;
    -moz-animation: spin 6s linear 0s infinite normal;
    -ms-animation: spin 6s linear 0s infinite normal;
    -o-animation: spin 6s linear 0s infinite normal;
    animation: spin 6s linear 0s infinite normal;
    -webkit-animation-play-state: paused;
    -moz-animation-play-state: paused;
    -ms-animation-play-state: paused;
    -o-animation-play-state: paused;
    animation-play-state: paused;
}

.video-design span:hover~.video-editing-image {
    -webkit-animation-play-state: running;
    -moz-animation-play-state: running;
    -ms-animation-play-state: running;
    -o-animation-play-state: running;
    animation-play-state: running;
    transition: 1s;
}

.layout-design-image {
    width: 350px;
    margin: auto;
    border-radius: 10px;
    transition: 0.5s;
}

.layout-design {
    position: relative;
    width: 350px;
    display: block;
    margin: auto;
    transition: 0.3s;
}

.layout-design:hover {
    transition: 0.3s;
}

.layout-design span {
    top: 5px;
    font-size: 18px;
}

#resource-slider {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 95%;
    height: 400px;
    margin: auto;
    overflow: hidden;
    border-radius: 5px;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.5);
    background: rgba(0, 0, 0, 0.5);
}

#resource-slider .resource-slider-frame {
    position: absolute;
    top: 10px;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
    height: 250px;
}

#resource-slider .resource-slider-item {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 25%;
    height: 100%;
}

#resource-slider .resource {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0 10px;
    overflow: hidden;
}

.resource img {
    height: 100%;
    width: 100%;
    background: #000;
}

.resource .portfolio-item-name {
    text-align: center;
    font-size: 16px;
    color: #000;
    background: #fff;
    position: absolute;
    z-index: 9;
    bottom: 20px;
    padding: 10px;
    text-transform: capitalize;
}

.portfolio-content {
    position: absolute;
    bottom: 10px;
    z-index: 1;
    height: 50px;
    width: 100%;
}

.portfolio-arrow-div {
    float: right;
    line-height: 60px;
}

.portfolio-arrow-div .portfolio-arrow {
    background: transparent;
    border: none;
}

.portfolio-title {
    font-size: 42px;
    text-transform: capitalize;
}

#resource-slider .prev {
    left: 0;
    bottom: 0;
}

#resource-slider .next {
    right: 0;
    bottom: 0;
}

span.arrow.transform.prev-side {
    transform: rotate(180deg);
}

#portfolio-modal-zoom {
    position: fixed;
    width: 100%;
    z-index: 99;
}

#resource-slider .next:hover span.arrow.transform::before,
#resource-slider .prev:hover span.arrow.transform::before {
    right: 0;
    transform: rotate(0deg);
    bottom: 0;
    transition: 0.5s;
}

#resource-slider .next:hover span.arrow.transform::after,
#resource-slider .prev:hover span.arrow.transform::after {
    right: 0;
    transform: rotate(0deg);
    top: 0;
    transition: 0.5s;
}

.model-img {
    margin: 20px auto 0 auto;
    height: 100px;
    overflow: hidden;
    border-radius: 5px;
}

.model-img img {
    height: 100%;
}

.service-title.front-end-developing {
    float: right;
}

#okewa-floating_cta .okewa-fc_text {
    font-family: monospace, sans-serif !important;
}

.container.portfolio {
    background: url("../../assets/images/background-portfolio.svg") center center repeat;
}

.cv-section {
    background: url("../../assets/images/cv-bg.png") center center no-repeat;
    background-size: cover;
}

.cv-section .container {
    max-width: 1360px;
}

.cv-section span.arrow::before,
.cv-section span.arrow::after {
    background: #fff;
}

.cv-section .page-title h1 {
    color: #fff;
}

.km-aim {
    line-height: 20px;
    font-size: 16px;
    font-style: italic;
}

.eduction-detail li {
    font-size: 20px;
    line-height: 24px;
}

.eduction-icon img {
    width: 50px;
    margin-right: 30px;
}

.km-experience-inner h5 {
    font-size: 16px;
    line-height: 20px;
}

.km-experience-icon img {
    width: 60px;
}

.km-academy {
    display: inline-flex;
}

.cv-first-row {
    border-bottom: 1px solid #fff;
    padding-bottom: 20px;
}

.cv-second-row {
    padding: 50px 0;
}

.hobbies {
    border: 2px solid #fff;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
    position: relative;
}

.hobbies::after {
    content: '';
    position: absolute;
    height: 50px;
    width: 50px;
    margin: auto;
    bottom: -80px;
    left: 20px;
    background: url("../../assets/images/heart.svg") no-repeat center center;
    background-size: contain;
}

.hobbies::before {
    content: '';
    position: absolute;
    height: 40px;
    width: 3px;
    margin: auto;
    bottom: -40px;
    left: 44px;
    background: #fff;
}

.hobbies img {
    height: 50px;
}

.hobbies ul {
    display: inline-flex;
}

.hobbies ul li~li {
    margin-left: 30px;
}

.km-experience-inner p {
    font-size: 14px;
}

.km-experience-inner {
    width: 200px;
}

.km-experience ul {
    display: inline-flex;
    overflow-x: auto;
    width: 100%;
    position: relative;
    z-index: 1;
}

.km-experience ul li~li {
    margin-left: 30px;
}

.cv-download {
    margin-top: 80px;
}

.cv-download a {
    height: 50px;
    width: 200px;
    display: block;
    margin: auto;
    border: 2px solid #fff;
    line-height: 50px;
    border-radius: 5px;
    z-index: 2;
    position: relative;
    text-align: center;
}

.social-skill img {
    height: 40px;
    margin-bottom: 10px;
}

.social-skill ul li {
    font-size: 14px;
    line-height: 20px;
}

.technology-skill ul {
    display: inline-flex;
}

.technology-skill ul img {
    height: 50px;
}

.technology-skill ul li~li {
    margin-left: 20px;
}

.technology-skill {
    text-align: center;
    border: 2px solid #fff;
    padding: 20px;
    border-radius: 5px;
    position: relative;
}

.technology-skill::after {
    content: '';
    position: absolute;
    height: 50px;
    width: 50px;
    margin: auto;
    bottom: -80px;
    right: 20px;
    background: url("../../assets/images/computer-mouse.svg") no-repeat center center;
    background-size: contain;
}

.technology-skill::before {
    content: '';
    position: absolute;
    height: 35px;
    width: 2px;
    margin: auto;
    bottom: -35px;
    right: 44px;
    background: #fff;
}

.contact-info {
    margin-top: 80px;
}

.contact-info a {
    font-size: 14px;
    display: block;
    position: relative;
    z-index: 1;
}

.contact-info ul li~li {
    margin-top: 5px;
}

@keyframes spread-fade {
    0% {
        transform: translate(-50%, -50%) scale(0);
        opacity: 0;
    }

    10% {
        opacity: 1;
    }

    100% {
        transform: translate(-50%, -50%) scale(1);
        opacity: 0;
    }
}

@keyframes bounce-out {
    0% {
        top: -200%;
    }

    25% {
        top: 50%;
    }

    40% {
        top: 35%;
    }

    55% {
        top: 50%;
    }

    70% {
        top: 42%;
    }

    85% {
        top: 50%;
    }

    95% {
        top: 48%;
    }

    100% {
        top: 50%;
    }
}

@keyframes fadein {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes fadeout {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
    }
}

@-ms-keyframes spin {
    0% {
        -ms-transform: rotate(0deg);
    }

    100% {
        -ms-transform: rotate(360deg);
    }
}

@-moz-keyframes spin {
    0% {
        -moz-transform: rotate(0deg);
    }

    100% {
        -moz-transform: rotate(360deg);
    }
}

@-o-keyframes spin {
    0% {
        -o-transform: rotate(0deg);
    }

    100% {
        -o-transform: rotate(360deg);
    }
}

@keyframes rotate {
    0% {
        transform: rotateY(360deg);
    }

    100% {
        transform: rotateY(0deg);
    }
}

@-webkit-keyframes rotate {
    0% {
        -webkit-transform: rotateY(360deg);
    }

    100% {
        -webkit-transform: rotateY(0deg);
    }
}

@-ms-keyframes rotate {
    0% {
        -ms-transform: rotateY(360deg);
    }

    100% {
        -ms-transform: rotateY(0deg);
    }
}

@-moz-keyframes rotate {
    0% {
        -moz-transform: rotateY(360deg);
    }

    100% {
        -moz-transform: rotateY(0deg);
    }
}

@-o-keyframes rotate {
    0% {
        -o-transform: rotateY(360deg);
    }

    100% {
        -o-transform: rotateY(0deg);
    }
}

#kmExperience::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #F5F5F5;
}

#kmExperience::-webkit-scrollbar {
    width: 6px;
    background-color: #F5F5F5;
}

#kmExperience::-webkit-scrollbar-thumb {
    background-color: #000;
}